* {
    background-color: rgb(14, 0, 35);

}
.new-rocker-regular {
        font-family: "New Rocker", serif;
        font-weight: 400;
        font-style: normal;
}

.pixelify-sans {
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
h1 {
    font-family: "New Rocker",serif;
    font-weight: 400;
    font-style: bold;
    font-size: 100px;
    color: rgb(249, 251, 240);
    text-align: center;
    margin: 50px 50px 50px 50px;
    z-index: 1100;
    background-color: transparent;
}

.heart1 {
    text-align: center;
    animation: heartbeat 1.25s 0s infinite alternate;
    background-image: url(E3Images/fullheart.png);
    width: 800px;
    height: 800px;
    z-index: 0;
    background-repeat: no-repeat;
    position: absolute;
    display: flex;
    justify-content: center;
    margin: 900px 100px 100px 100px;
    left: 35%;
    background-color: transparent;
    
}

.heart1 img{
    width: 100%;
   display: inline-block;
   align-self: center;
}
@keyframes heartbeat {
    0% {transform: scale(1.5,1.5);}
    50% {transform: scale(1.75,1.75);}
    100% {transform: scale(1.5,1.5);}


}

.lyricspace {
    margin-top: 10px;
}
.lyrics {
    font-size: 25px;
    color: rgb(89, 213, 161);
    background-color: transparent;
    z-index: 1000;
    position: relative;

}
#text{
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: "New Rocker", serif;
        font-weight: 400;
        font-style: normal;
}
.latenight {
    display: inline-block;
}
.gameboys {
    display: inline-block;
}
.bright{
    display: inline-block;
    transition: all 2s;
}
.synthnoise {
    display: inline-block;
    transition: all 4s;
}
.Charli{
    display: inline-block;
}
.milkshakes {
    display: inline-block;
}
.Carly {
    display: inline-block;
}
.heartbreaks {
    display: inline-block;
}
.rightwords{
    display: inline-block;
    transition: all 2s;
}
.nevercome {
    display: inline-block;
    transition: all 3s;
    opacity: 0;
}
.Silly-dumb {
    display: inline-block;
    transition: all 3s;
}
.bigwords {
    display: inline-block;
    transition: all 1s;
}
.inside {
    display: inline-block;
    transition: all 3s;
}

.latenights:hover {
    cursor: pointer;
}
.gameboys:hover {
    cursor: pointer;
    color: rgb(36, 36, 34);
    background-color: rgb(191, 12, 12);
    font-family: "Pixelify Sans", serif;
    font-size: 40px;
    font-weight: 300;
    font-style: normal;
}
.bright:hover {
    cursor: pointer;
    color: white;
    transform: scale(2,2);
}
.synthnoise:hover {
    cursor: pointer;
    color: rgb(228, 27, 178);

}
.Charli:hover {
    cursor: pointer;
}
.milkshakes:hover {
    cursor: pointer;
}
.Carly:hover {
    cursor: pointer;
}
.heartbreaks:hover {
    cursor: pointer;
    opacity: 1;
}
.rightwords:hover {
    cursor: pointer;
    transform: translate(100px,0px);
    
}
.nevercome:hover {
    cursor: pointer;
    transform: scale(2,2);
    opacity: 1;
}
.Silly-dumb:hover {
    cursor: pointer;
    transform: rotate(360deg) scale(3,3);
    color: rgb(234, 35, 234);

}
.bigwords:hover {
    cursor: pointer;
    transform: scale(4,4);
}
.inside:hover {
    cursor: pointer;
   transform: scale(.5,.5);
    
}